<div class="container-fluid bg-light h-100">
    <div class="row">

        <!-- Card 1 -->
        <div class="col-6 offset-1 mt-5">
            <mat-card class="example-card">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>Registro</mat-card-title>
                    <mat-card-subtitle>Aquí puede crear su usuario</mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>

                <mat-card-content>
                    <!-- Grilla -->
                    <mat-form-field>
                        <mat-label>Filtro</mat-label>
                        <input matInput (keyup)="filterUser($event.target.value)" placeholder="Buscar">
                    </mat-form-field>

                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort class="table-hover w-100">

                            <!-- ID Column -->
                            <ng-container matColumnDef="code">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                                <td mat-cell *matCellDef="let row"> {{row.code}} </td>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="lastname">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
                                <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
                            </ng-container>

                            <!-- Color Column -->
                            <ng-container matColumnDef="age">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Edad </th>
                                <td mat-cell *matCellDef="let row" [style.color]="row.age"> {{row.age}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                    <!-- End Grilla -->
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>

        </div>
        <!-- End Card 1 -->

        <!-- Card 2 -->
        <div class="col-4 mt-5">

            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Actualizar</mat-card-title>
                    <mat-card-subtitle>Aquí puede modificar los registros</mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>

                <mat-card-content>
                    <br>
                    <br>
                    <!-- Formulario -->
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Código</mat-label>
                            <input matInput placeholder="000">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Joe">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Apellidos</mat-label>
                            <input matInput placeholder="Smith">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>Edad</mat-label>
                            <input type="number" matInput placeholder="00">
                        </mat-form-field>
                    </form>
                    <!-- End Formulario -->

                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">Guardar</button>
                    <button mat-raised-button color="warn">Cancelar</button>
                </mat-card-actions>
            </mat-card>

        </div>
        <!-- End Card 2 -->

    </div>
</div>